<html>
    <body>
        <!-- <h2>Kính gửi anh/chị ${data.name}, </h2> -->
        <div>
            Danh sách các bản vẽ bị chậm/nguy cơ chậm giao hàng. Chi tiết trong file đính kèm!
        </div>
        <!-- <h2>Trân trọng! </h2> -->
        <div style="margin: 10 0 10 0 !important;">
        	<!-- <img style="height: 30px;" src='C:\Users\Admin\Desktop\logo.png'/> -->
        	<img style="height: 30px;" src='cid:myLogo'/><br/>
            <!-- Điện thoại: <strong>(+84) 868 209 111</strong><br/>
            Email: <a href="mailto:hello@cnctech.com.vn"><strong>hello@cnctech.com.vn</strong></a><br/> -->
            
        </div>
        Website: <strong><a href="https://cnctech.com.vn/" target="_blank">https://cnctech.com.vn/</a></strong>
        <!-- <span
		style="width: 100%; background: #dedee0; float: left; padding: 5px; text-align: center; color: #339 !important; font-weight: 700; border-top: 1px solid #d2cfcf;"><a href="https://mes.cnctech.vn/"
		style="color: #ff4403;" target="_blank">Hệ thống quản lý sản xuất CNCTech</a>
		</span> -->
        
    </body>
</html>